*{
    margin: 0%;
    padding: 0%;
    list-style-type: none;
    text-decoration: none;
}
.logo{
    margin-top: 10px;
    color: azure;
}
 .logo h1::first-letter{
    color: rgb(169, 40, 137);
    background-color: rgb(201, 65, 160);
    border-radius: 60%;
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;

}
nav li a{
    color: azure;
    font-size: medium;
}
nav :hover{
    color: orange;
}
